.box_size {
    max-width: 400px;
    min-width: 300px;
    height: 100%;
    display: inline-block;
    margin: auto;
    margin-right: 5%;
    margin-left: 5%;
}

.container {
    max-width: 900px;
    margin: auto;
}
.left_box {
    .box_size;
}
.right_box {
    .box_size;
    position: absolute;
}
input {
    margin: 5px auto;
}

@media all and (max-width: 901px) {
    .left_box {
        .box_size;
        display: block;
        width: 100%;
    }
    .right_box {
        .box_size;
        display: block;
        width: 100%;
    }
}